input {
  border: 3px solid blueviolet;
  border-radius: 0px 10px 10px 0px;
}

.Dictionary {
  text-align: center;
  background: white;
  padding: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px 0;
}

.search-box {
  text-align: center;
  padding: 15px;
  width: 500px;
  border-radius: 10px 0px 0px 10px;
}

.submit-btn {
  background-color: beige;
  color: blueviolet;
  padding: 15px;
}

.submit-btn:hover {
  background-color: lightblue;
  text-transform: uppercase;
  padding: 15px;
}

.dictionary-results-section {
  text-align: left;
  padding-top: 30px;
}
